.app {
    display: flex;
    padding: 0;
    font-family: sans-serif;
    height: 99vh;
}

.app-stencil {
    position: relative;
    width: 200px;
    border: 1px solid #f0f0f0;
}

.app-content {
    flex: 1;
    margin-right: 8px;
    margin-left: 8px;
    box-shadow: 0 0 10px 1px #e9e9e9;
}

.app-sidebar {
    position: relative;
    width: 250px;
    margin: 20px
}

.node {
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #c2c8d5;
    border-radius: 4px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.06);
}

.node.parent {
    border-left: 4px solid #ff6600;
}

.node.child {
    border-left: 4px solid #39c5bb;
}


.node hr {
    height: 1px;
    border: none;
    border-top: 1px solid #c2c8d5;
    margin-top: 8px;
    margin-bottom: 2px;
}

.node .label {
    display: inline-block;
    flex-shrink: 0;
    margin-left: 8px;
    color: #666;
    font-size: 12px;
}

/*<svg width="32" height="32" viewBox="0 0 24 24"><path fill="#888888" d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10s10-4.47 10-10S17.53 2 12 2z"/></svg>*/